{
  "openapi": "3.0.3",
  "info": {
    "title": "Yengeç Developer API",
    "description": "Yengec is a marketplace integration and inventory management platform.\nThis API allows you to manage companies, products, orders, integrations,\ncustomers, subscriptions, and more.\n\n## Authentication\nMost endpoints require a Bearer token obtained via the `POST /v2.0/auth/token` endpoint.\nInclude the token in the `Authorization` header:\n```\nAuthorization: Bearer <your_access_token>\n```\n\n## Pagination\nThe API uses two pagination styles:\n\n**Offset-based pagination** (most list endpoints):\nUse `?page=N&limit=N` query parameters. The response includes:\n```json\n{\n  \"data\": [...],\n  \"meta\": {\n    \"pagination\": {\n      \"total\": 100,\n      \"count\": 20,\n      \"per_page\": 20,\n      \"current_page\": 1,\n      \"total_pages\": 5\n    }\n  }\n}\n```\n\n**Cursor-based pagination** (notifications, some endpoints):\nUse `?limit=N&cursor=...` query parameters. The response includes:\n```json\n{\n  \"data\": [...],\n  \"meta\": {\n    \"pagination\": {\n      \"count\": 20,\n      \"per_page\": 20,\n      \"next_cursor\": \"eyJ...\",\n      \"prev_cursor\": null\n    }\n  }\n}\n```\n\n## Rate Limiting\nAPI requests are rate-limited to 2,000 requests per minute per client.\n\n## Base URL\nAll endpoints are prefixed with `/v1.0` or `/v2.0` as indicated.\n\n## Common Response Format\nAll responses follow the Fractal/Dingo format:\n```json\n{\n  \"data\": { ... }\n}\n```\nFor paginated lists:\n```json\n{\n  \"data\": [ ... ],\n  \"meta\": {\n    \"pagination\": {\n      \"total\": 100,\n      \"count\": 20,\n      \"per_page\": 20,\n      \"current_page\": 1,\n      \"total_pages\": 5\n    }\n  }\n}\n```\n",
    "version": "2.0.0",
    "contact": {
      "name": "Yengec Support",
      "url": "https://yengec.co"
    }
  },
  "servers": [
    {
      "url": "https://api.yengec.co",
      "description": "Production"
    },
    {
      "url": "https://api-test.yengec.co",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "User registration, login, 2FA, and OAuth provider authentication"
    },
    {
      "name": "User",
      "description": "Current user profile, notifications, and preferences"
    },
    {
      "name": "Credit Card",
      "description": "Saved credit card management"
    },
    {
      "name": "Company",
      "description": "Company management, users, accounting connections"
    },
    {
      "name": "Product",
      "description": "Product CRUD, bulk operations, stock, images, AI features, and integration sync"
    },
    {
      "name": "Order",
      "description": "Order CRUD, bulk operations, invoicing, and accounting push"
    },
    {
      "name": "Order Shipping",
      "description": "Shipping, cargo, fulfillment, and order package operations"
    },
    {
      "name": "Integration",
      "description": "Marketplace integration management, configuration, sync"
    },
    {
      "name": "Integration Product",
      "description": "Integration product listing and mapping"
    },
    {
      "name": "Integration Category",
      "description": "Integration marketplace categories"
    },
    {
      "name": "Integration Property",
      "description": "Integration product properties and options"
    },
    {
      "name": "Integration Warehouse",
      "description": "Integration warehouse mapping"
    },
    {
      "name": "Customer",
      "description": "Customer/contact management, accounting push, payments"
    },
    {
      "name": "Subscription",
      "description": "Subscription and billing management"
    },
    {
      "name": "Report",
      "description": "Sales, income, expense, and product reports"
    },
    {
      "name": "Tag",
      "description": "Tag management for orders, customers, and products"
    },
    {
      "name": "Task",
      "description": "Background task monitoring"
    },
    {
      "name": "Warehouse",
      "description": "Warehouse management"
    },
    {
      "name": "Account",
      "description": "Financial account and transaction management"
    },
    {
      "name": "Product Category",
      "description": "Product category management and property mapping"
    },
    {
      "name": "XML Resource",
      "description": "XML feed import management"
    },
    {
      "name": "Invoice",
      "description": "Platform invoice management"
    },
    {
      "name": "Question",
      "description": "Marketplace customer questions and answers"
    },
    {
      "name": "Credit",
      "description": "Credit balance and usage"
    },
    {
      "name": "Purchase",
      "description": "Purchase management"
    },
    {
      "name": "E-Invoice",
      "description": "E-invoice application"
    },
    {
      "name": "Global",
      "description": "Public endpoints (no auth required)"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "companyId": {
        "name": "companyId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "The ID of the company."
      },
      "integrationId": {
        "name": "integrationId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "The ID of the integration."
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Number of items per page",
        "schema": {
          "type": "integer",
          "default": 20
        }
      },
      "page": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "Page number (offset-based pagination)",
        "schema": {
          "type": "integer",
          "default": 1
        }
      },
      "productId": {
        "name": "productId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Product UUID"
      },
      "productImportId": {
        "name": "productImportId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Product import ID"
      },
      "jobId": {
        "name": "jobId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Job ID"
      },
      "orderId": {
        "name": "orderId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "The order identifier."
      },
      "orderPackageId": {
        "name": "orderPackageId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The order package identifier."
      }
    },
    "schemas": {
      "PaginationMeta": {
        "type": "object",
        "description": "Offset-based pagination metadata (used by most list endpoints)",
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer"
              },
              "count": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "current_page": {
                "type": "integer"
              },
              "total_pages": {
                "type": "integer"
              }
            }
          }
        }
      },
      "CursorPaginationMeta": {
        "type": "object",
        "description": "Cursor-based pagination metadata (used by notifications and some endpoints)",
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer"
              },
              "per_page": {
                "type": "integer"
              },
              "next_cursor": {
                "type": "string",
                "nullable": true
              },
              "prev_cursor": {
                "type": "string",
                "nullable": true
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "mobile": {
            "type": "string",
            "nullable": true
          },
          "provider": {
            "type": "string",
            "nullable": true
          },
          "is_email_verified": {
            "type": "boolean"
          },
          "is_mobile_verified": {
            "type": "boolean"
          },
          "mobile_notification": {
            "type": "boolean"
          },
          "permissions": {
            "type": "object"
          },
          "channel": {
            "type": "string"
          },
          "has_password": {
            "type": "boolean"
          },
          "language": {
            "type": "string",
            "enum": [
              "tr",
              "en"
            ]
          },
          "is_active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "unread_notification_count": {
            "type": "integer"
          }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "channel": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "enum": [
              "TRY",
              "USD",
              "EUR",
              "GBP"
            ]
          },
          "logo_url": {
            "type": "string",
            "nullable": true
          },
          "settings": {
            "type": "object",
            "nullable": true
          },
          "district": {
            "type": "string",
            "nullable": true
          },
          "postal_code": {
            "type": "string",
            "nullable": true
          },
          "tax_office": {
            "type": "string",
            "nullable": true
          },
          "tax_number": {
            "type": "string"
          },
          "accounting": {
            "type": "string",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "website_url": {
            "type": "string",
            "nullable": true
          },
          "ioss": {
            "type": "string",
            "nullable": true
          },
          "voec": {
            "type": "string",
            "nullable": true
          },
          "pva": {
            "type": "string",
            "nullable": true
          },
          "mid": {
            "type": "string",
            "nullable": true
          },
          "e_invoice_serial": {
            "type": "string",
            "nullable": true
          },
          "e_archive_serial": {
            "type": "string",
            "nullable": true
          },
          "e_invoice_credit": {
            "type": "integer"
          },
          "e_invoice_provider": {
            "type": "string",
            "nullable": true
          },
          "e_invoicing_activated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "e_archiving_activated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "main",
              "basic",
              "variant",
              "expense"
            ]
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "currency": {
            "type": "string"
          },
          "barcode": {
            "type": "string",
            "nullable": true
          },
          "weight": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "hs_code": {
            "type": "string",
            "nullable": true
          },
          "variant": {
            "type": "object",
            "nullable": true
          },
          "tax_rate": {
            "type": "integer",
            "enum": [
              0,
              1,
              10,
              20
            ]
          },
          "quantity": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "child_count": {
            "type": "integer"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "stock_code": {
            "type": "string",
            "nullable": true
          },
          "catalog": {
            "type": "object",
            "nullable": true,
            "description": "null=unchecked, {count:0}=no match, {count:N,matches:[...]}=matched"
          },
          "warehouse_id": {
            "type": "integer",
            "nullable": true
          },
          "market_price": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "shipment_name": {
            "type": "string",
            "nullable": true
          },
          "accounting_id": {
            "type": "string",
            "nullable": true
          },
          "fulfillment_id": {
            "type": "string",
            "nullable": true
          },
          "parent_product_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "product_category_id": {
            "type": "integer",
            "nullable": true
          },
          "integration_product_id": {
            "type": "integer",
            "nullable": true
          },
          "source_integration_id": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "order_id": {
            "type": "string"
          },
          "order_id2": {
            "type": "string",
            "nullable": true
          },
          "group_code": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "status_readable": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "e_invoice_status": {
            "type": "string"
          },
          "e_invoice_document_type": {
            "type": "string",
            "nullable": true
          },
          "invoice_code": {
            "type": "string",
            "nullable": true
          },
          "e_invoice_url": {
            "type": "string",
            "nullable": true
          },
          "discount_amount": {
            "type": "number",
            "format": "float"
          },
          "last_error": {
            "type": "string",
            "nullable": true
          },
          "accounting_id": {
            "type": "string",
            "nullable": true
          },
          "push_ready": {
            "type": "boolean"
          },
          "einvoice_created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "pushed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "order_created_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "currency": {
            "type": "string"
          },
          "final_amount": {
            "type": "number",
            "format": "float"
          },
          "is_printed": {
            "type": "boolean"
          },
          "customer_info": {
            "type": "object"
          },
          "payment_method": {
            "type": "string",
            "nullable": true
          },
          "payment_method_readable": {
            "type": "string",
            "nullable": true
          },
          "payment_provider": {
            "type": "string",
            "nullable": true
          },
          "cargo_company_code": {
            "type": "string",
            "nullable": true
          },
          "cargo_code": {
            "type": "string",
            "nullable": true
          },
          "cargo_tracking_code": {
            "type": "string",
            "nullable": true
          },
          "cargo_tracking_url": {
            "type": "string",
            "nullable": true
          },
          "has_shipping": {
            "type": "boolean"
          },
          "integration_id": {
            "type": "integer"
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "sale",
              "return",
              "cancel"
            ]
          },
          "archived_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "issue_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "due_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "fulfillment_status": {
            "type": "string",
            "nullable": true
          },
          "exchange_rate": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "paid_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Integration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "nullable": true,
            "enum": [
              "order",
              "cargo",
              "product",
              "fulfillment"
            ]
          },
          "marketplace": {
            "type": "string"
          },
          "marketplace_readable": {
            "type": "string"
          },
          "subscription_id": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "config_completed": {
            "type": "boolean"
          },
          "config": {
            "type": "object"
          },
          "options": {
            "type": "object"
          },
          "domain": {
            "type": "string",
            "nullable": true
          },
          "website_url": {
            "type": "string",
            "nullable": true
          },
          "contact_email": {
            "type": "string",
            "nullable": true
          },
          "cc_email": {
            "type": "string",
            "nullable": true
          },
          "summary_active": {
            "type": "boolean"
          },
          "e_invoice_active": {
            "type": "boolean"
          },
          "e_invoice_scenario": {
            "type": "string",
            "nullable": true,
            "enum": [
              "basic",
              "commercial"
            ]
          },
          "cargo_company_id": {
            "type": "integer",
            "nullable": true
          },
          "make_paid": {
            "type": "boolean"
          },
          "tax_rate": {
            "type": "number"
          },
          "send_invoice_mail": {
            "type": "boolean"
          },
          "invoice_note": {
            "type": "string",
            "nullable": true
          },
          "email_note": {
            "type": "string",
            "nullable": true
          },
          "last_error": {
            "type": "string",
            "nullable": true
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "parent_integration_id": {
            "type": "integer",
            "nullable": true
          },
          "use_export_invoice": {
            "type": "boolean"
          }
        }
      },
      "IntegrationProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "weight": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "barcode": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "sync_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "on_sale": {
            "type": "boolean"
          },
          "quantity": {
            "type": "number",
            "format": "float"
          },
          "tax_rate": {
            "type": "number",
            "format": "float"
          },
          "stock_code": {
            "type": "string",
            "nullable": true
          },
          "product_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "child_count": {
            "type": "integer"
          },
          "market_price": {
            "type": "number",
            "format": "float",
            "nullable": true
          },
          "accounting_id": {
            "type": "string",
            "nullable": true
          },
          "integration_id": {
            "type": "integer"
          },
          "marketplace_id": {
            "type": "string"
          },
          "marketplace_name": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "nullable": true
          },
          "use_product_name": {
            "type": "boolean"
          },
          "use_product_price": {
            "type": "boolean"
          },
          "product_synced_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "customer_id": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "Customer",
              "Company"
            ]
          },
          "name": {
            "type": "string"
          },
          "invoice_address": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "district": {
            "type": "string",
            "nullable": true
          },
          "tc": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "tax_number": {
            "type": "string",
            "nullable": true
          },
          "tax_office": {
            "type": "string",
            "nullable": true
          },
          "accounting_id": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "country_code": {
            "type": "string",
            "nullable": true
          },
          "postal_code": {
            "type": "string",
            "nullable": true
          },
          "integration_id": {
            "type": "integer",
            "nullable": true
          },
          "archived_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "is_vendor": {
            "type": "boolean"
          },
          "balance": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "channel": {
            "type": "string"
          },
          "promotion": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "renewal_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "is_expired": {
            "type": "boolean"
          },
          "renew_month": {
            "type": "integer"
          },
          "package_count": {
            "type": "integer"
          },
          "payment_method": {
            "type": "string"
          },
          "integration_count": {
            "type": "integer"
          }
        }
      },
      "Warehouse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "object",
            "nullable": true
          },
          "is_default": {
            "type": "boolean"
          },
          "accounting_id": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "account",
              "bank"
            ]
          },
          "name": {
            "type": "string"
          },
          "iban": {
            "type": "string",
            "nullable": true
          },
          "balance": {
            "type": "number",
            "format": "float"
          },
          "currency": {
            "type": "string",
            "enum": [
              "TRY",
              "USD",
              "EUR",
              "GBP"
            ]
          },
          "bank_code": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "balance_at": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "type_readable": {
            "type": "string"
          },
          "currency_symbol": {
            "type": "string"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "order",
              "customer",
              "product"
            ]
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "progress": {
            "type": "number"
          },
          "result": {
            "type": "object",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Package": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "sort": {
            "type": "integer"
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "limit": {
            "type": "integer"
          },
          "country": {
            "type": "string"
          },
          "prices": {
            "type": "object"
          },
          "name_en": {
            "type": "string"
          },
          "name_tr": {
            "type": "string"
          },
          "unlimited": {
            "type": "boolean"
          },
          "marketplaces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "status_code": {
            "type": "integer"
          },
          "errors": {
            "type": "object"
          }
        }
      },
      "AccountResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "account",
              "bank"
            ]
          },
          "name": {
            "type": "string"
          },
          "iban": {
            "type": "string",
            "nullable": true
          },
          "balance": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "bank_code": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "balance_at": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "type_readable": {
            "type": "string"
          },
          "currency_symbol": {
            "type": "string"
          }
        }
      },
      "BankResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "connected",
              "disconnected"
            ]
          },
          "provider": {
            "type": "string"
          },
          "bank_code": {
            "type": "string"
          },
          "bank_name": {
            "type": "string",
            "nullable": true
          },
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AccountResponse"
            }
          },
          "created_at": {
            "type": "string",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "nullable": true
          },
          "deleted_at": {
            "type": "string",
            "nullable": true
          },
          "redirect_url": {
            "type": "string",
            "nullable": true
          },
          "connected_at": {
            "type": "string",
            "nullable": true
          },
          "last_synced_at": {
            "type": "string",
            "nullable": true
          },
          "disconnect_reason": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CompanyResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "channel": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "currency": {
            "type": "string",
            "enum": [
              "TRY",
              "USD",
              "EUR",
              "GBP"
            ]
          },
          "logo_url": {
            "type": "string",
            "nullable": true
          },
          "settings": {
            "type": "object"
          },
          "district": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          },
          "tax_office": {
            "type": "string"
          },
          "tax_number": {
            "type": "string"
          },
          "accounting": {
            "type": "string",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "website_url": {
            "type": "string",
            "nullable": true
          },
          "ioss": {
            "type": "string",
            "nullable": true
          },
          "voec": {
            "type": "string",
            "nullable": true
          },
          "pva": {
            "type": "string",
            "nullable": true
          },
          "mid": {
            "type": "string",
            "nullable": true
          },
          "e_invoice_serial": {
            "type": "string",
            "nullable": true
          },
          "e_archive_serial": {
            "type": "string",
            "nullable": true
          },
          "abilities": {
            "type": "object",
            "description": "Computed capability flags for the company. Applies to both the company-level e_invoice_serial/e_archive_serial fields above and the same fields on each of the company's integrations, since configurability depends solely on the company's accounting provider.",
            "properties": {
              "e_invoice_serial_configurable": {
                "type": "boolean",
                "description": "Whether the accounting provider allows configuring a custom e_invoice_serial (currently QNB, Isnet, TrendyolEFaturam, ELogo, UyumsoftEInvoice, HepsiburadaEFaturam)."
              },
              "e_archive_serial_configurable": {
                "type": "boolean",
                "description": "Whether the accounting provider allows configuring a custom e_archive_serial (currently QNB, Isnet, TrendyolEFaturam, Mikro, ELogo, UyumsoftEInvoice, HepsiburadaEFaturam)."
              }
            }
          },
          "e_invoice_credit": {
            "type": "integer"
          },
          "e_invoice_provider": {
            "type": "string",
            "nullable": true
          },
          "e_invoicing_activated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "e_archiving_activated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "UserResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "district": {
            "type": "string"
          },
          "postal_code": {
            "type": "string"
          }
        }
      },
      "ProductCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "barcode",
          "stock_code",
          "price",
          "market_price",
          "type",
          "is_active"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255
          },
          "barcode": {
            "type": "string",
            "maxLength": 255
          },
          "stock_code": {
            "type": "string",
            "maxLength": 255
          },
          "price": {
            "type": "number"
          },
          "market_price": {
            "type": "number"
          },
          "type": {
            "type": "string",
            "enum": [
              "main",
              "basic",
              "variant",
              "expense"
            ]
          },
          "is_active": {
            "type": "boolean"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "tax_rate": {
            "type": "number",
            "enum": [
              0,
              1,
              10,
              20
            ],
            "nullable": true
          },
          "product_category_id": {
            "type": "integer",
            "nullable": true
          },
          "fulfillment_id": {
            "type": "string",
            "nullable": true
          },
          "quantity": {
            "type": "integer",
            "nullable": true
          },
          "weight": {
            "type": "number",
            "nullable": true
          },
          "hs_code": {
            "type": "string",
            "nullable": true
          },
          "shipment_name": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "main",
              "basic",
              "variant",
              "expense"
            ]
          },
          "price": {
            "type": "number",
            "format": "float"
          },
          "currency": {
            "type": "string"
          },
          "barcode": {
            "type": "string",
            "nullable": true
          },
          "weight": {
            "type": "number",
            "nullable": true
          },
          "hs_code": {
            "type": "string",
            "nullable": true
          },
          "variant": {
            "type": "object",
            "nullable": true
          },
          "tax_rate": {
            "type": "integer",
            "enum": [
              0,
              1,
              10,
              20
            ]
          },
          "quantity": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "child_count": {
            "type": "integer"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "stock_code": {
            "type": "string",
            "nullable": true
          },
          "catalog": {
            "type": "object",
            "nullable": true
          },
          "warehouse_id": {
            "type": "integer",
            "nullable": true
          },
          "market_price": {
            "type": "number",
            "nullable": true
          },
          "shipment_name": {
            "type": "string",
            "nullable": true
          },
          "accounting_id": {
            "type": "string",
            "nullable": true
          },
          "fulfillment_id": {
            "type": "string",
            "nullable": true
          },
          "parent_product_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "product_category_id": {
            "type": "integer",
            "nullable": true
          },
          "integration_product_id": {
            "type": "integer",
            "nullable": true
          },
          "source_integration_id": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "ProductJobResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "job": {
            "type": "string"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "product_id": {
            "type": "string",
            "format": "uuid"
          },
          "job_readable": {
            "type": "string"
          },
          "integration_id": {
            "type": "integer"
          },
          "status_readable": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrderResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "order_id": {
            "type": "string"
          },
          "order_id2": {
            "type": "string",
            "nullable": true
          },
          "group_code": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "status_readable": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "e_invoice_status": {
            "type": "string"
          },
          "e_invoice_document_type": {
            "type": "string",
            "nullable": true
          },
          "invoice_code": {
            "type": "string",
            "nullable": true
          },
          "e_invoice_url": {
            "type": "string",
            "nullable": true
          },
          "discount_amount": {
            "type": "number"
          },
          "last_error": {
            "type": "string",
            "nullable": true
          },
          "accounting_id": {
            "type": "string",
            "nullable": true
          },
          "push_ready": {
            "type": "boolean"
          },
          "einvoice_created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "pushed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "order_created_at": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "currency": {
            "type": "string"
          },
          "final_amount": {
            "type": "number"
          },
          "is_printed": {
            "type": "boolean"
          },
          "customer_info": {
            "type": "object"
          },
          "payment_method": {
            "type": "string",
            "nullable": true
          },
          "payment_method_readable": {
            "type": "string",
            "nullable": true
          },
          "payment_provider": {
            "type": "string",
            "nullable": true
          },
          "cargo_company_code": {
            "type": "string",
            "nullable": true
          },
          "cargo_code": {
            "type": "string",
            "nullable": true
          },
          "cargo_tracking_code": {
            "type": "string",
            "nullable": true
          },
          "cargo_tracking_url": {
            "type": "string",
            "nullable": true
          },
          "has_shipping": {
            "type": "boolean"
          },
          "integration_id": {
            "type": "integer"
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "sale",
              "return",
              "cancel"
            ]
          },
          "archived_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "issue_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "due_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "fulfillment_status": {
            "type": "string",
            "nullable": true
          },
          "exchange_rate": {
            "type": "number",
            "nullable": true
          },
          "paid_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "OrderCreateRequest": {
        "type": "object",
        "required": [
          "customer_id",
          "final_amount",
          "e_invoice_status",
          "description",
          "currency",
          "items"
        ],
        "properties": {
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "final_amount": {
            "type": "number"
          },
          "e_invoice_status": {
            "type": "string"
          },
          "has_shipping": {
            "type": "boolean"
          },
          "payment_method": {
            "type": "string",
            "nullable": true
          },
          "payment_provider": {
            "type": "string",
            "nullable": true
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "order_id": {
            "type": "string",
            "nullable": true
          },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "product_id": {
                  "type": "string",
                  "format": "uuid"
                },
                "integration_product_id": {
                  "type": "integer",
                  "nullable": true
                },
                "price": {
                  "type": "number"
                },
                "quantity": {
                  "type": "integer"
                },
                "discount": {
                  "type": "number"
                },
                "tax_rate": {
                  "type": "number"
                },
                "variants": {
                  "type": "object",
                  "nullable": true
                }
              }
            }
          },
          "tag_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "shipping": {
            "type": "object",
            "nullable": true,
            "properties": {
              "country": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "district": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "surname": {
                "type": "string"
              },
              "contact_number": {
                "type": "string"
              },
              "email": {
                "type": "string"
              }
            }
          },
          "same_as_billing": {
            "type": "boolean",
            "nullable": true
          },
          "invoice_code": {
            "type": "string",
            "nullable": true
          },
          "due_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "order_created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "issue_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          }
        }
      },
      "OrderShippingResponse": {
        "type": "object",
        "description": "Order shipping information for shippable orders."
      },
      "PaymentResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "order_id": {
            "type": "string",
            "format": "uuid"
          },
          "description": {
            "type": "string"
          },
          "exchange_rate": {
            "type": "number"
          }
        }
      },
      "BulkIdsRequest": {
        "type": "object",
        "required": [
          "ids"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      },
      "OrdersEInvoiceRequest": {
        "type": "object",
        "required": [
          "order_ids"
        ],
        "properties": {
          "order_ids": {
            "type": "array",
            "description": "Numeric ids of the orders to generate e-invoices for.",
            "items": {
              "type": "integer"
            }
          },
          "e_invoice_scenario": {
            "type": "string",
            "description": "E-invoice scenario (basic or commercial).",
            "enum": [
              "basic",
              "commercial"
            ]
          }
        }
      },
      "IntegrationResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "marketplace": {
            "type": "string"
          },
          "marketplace_readable": {
            "type": "string"
          },
          "subscription_id": {
            "type": "integer"
          },
          "is_active": {
            "type": "boolean"
          },
          "config_completed": {
            "type": "boolean"
          },
          "config": {
            "type": "object"
          },
          "options": {
            "type": "object"
          },
          "domain": {
            "type": "string",
            "nullable": true
          },
          "website_url": {
            "type": "string",
            "nullable": true
          },
          "contact_email": {
            "type": "string",
            "nullable": true
          },
          "cc_email": {
            "type": "string",
            "nullable": true
          },
          "summary_active": {
            "type": "boolean"
          },
          "e_invoice_active": {
            "type": "boolean"
          },
          "e_invoice_scenario": {
            "type": "string",
            "nullable": true
          },
          "e_invoice_serial": {
            "type": "string",
            "nullable": true,
            "description": "Custom e-invoice serial prefix. Only accepted when the company's accounting provider supports it (currently QNB, Isnet, TrendyolEFaturam, ELogo, UyumsoftEInvoice, HepsiburadaEFaturam)."
          },
          "e_archive_serial": {
            "type": "string",
            "nullable": true,
            "description": "Custom e-archive serial prefix. Only accepted when the company's accounting provider supports it (currently QNB, Isnet, TrendyolEFaturam, Mikro, ELogo, UyumsoftEInvoice, HepsiburadaEFaturam). Whether these fields are configurable is exposed on the owning company's `abilities` (see `CompanyResponse`), not per integration, since it depends solely on the company's accounting provider."
          },
          "cargo_company_id": {
            "type": "integer",
            "nullable": true
          },
          "make_paid": {
            "type": "boolean"
          },
          "tax_rate": {
            "type": "number"
          },
          "send_invoice_mail": {
            "type": "boolean"
          },
          "invoice_note": {
            "type": "string",
            "nullable": true
          },
          "email_note": {
            "type": "string",
            "nullable": true
          },
          "last_error": {
            "type": "string",
            "nullable": true
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "parent_integration_id": {
            "type": "integer",
            "nullable": true
          },
          "use_export_invoice": {
            "type": "boolean"
          }
        }
      },
      "IntegrationProductResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "price": {
            "type": "number"
          },
          "weight": {
            "type": "number",
            "nullable": true
          },
          "barcode": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "sync_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "on_sale": {
            "type": "boolean"
          },
          "quantity": {
            "type": "number"
          },
          "tax_rate": {
            "type": "number"
          },
          "stock_code": {
            "type": "string",
            "nullable": true
          },
          "product_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "child_count": {
            "type": "integer"
          },
          "market_price": {
            "type": "number",
            "nullable": true
          },
          "accounting_id": {
            "type": "string",
            "nullable": true
          },
          "integration_id": {
            "type": "integer"
          },
          "marketplace_id": {
            "type": "string"
          },
          "marketplace_name": {
            "type": "string"
          },
          "properties": {
            "type": "object",
            "nullable": true
          },
          "use_product_name": {
            "type": "boolean"
          },
          "use_product_price": {
            "type": "boolean"
          },
          "product_synced_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "IntegrationProductCategoryResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "is_deep": {
            "type": "boolean"
          },
          "parent_id": {
            "type": "integer",
            "nullable": true
          },
          "integration_id": {
            "type": "integer"
          },
          "full_path": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IntegrationProductPropertyResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "string",
              "numeric",
              "boolean",
              "enum",
              "array",
              "strings"
            ]
          },
          "property_id": {
            "type": "string"
          },
          "is_customization": {
            "type": "boolean"
          },
          "has_max": {
            "type": "boolean"
          },
          "is_updatable": {
            "type": "boolean"
          },
          "options": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "properties": {
                "value": {
                  "type": "string"
                },
                "label": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "IntegrationWarehouseResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "integration_id": {
            "type": "integer"
          },
          "integration_warehouse_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "warehouse_id": {
            "type": "integer",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "customer_id": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "enum": [
              "Customer",
              "Company"
            ]
          },
          "name": {
            "type": "string"
          },
          "invoice_address": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "district": {
            "type": "string",
            "nullable": true
          },
          "tc": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "tax_number": {
            "type": "string",
            "nullable": true
          },
          "tax_office": {
            "type": "string",
            "nullable": true
          },
          "accounting_id": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "country_code": {
            "type": "string",
            "nullable": true
          },
          "postal_code": {
            "type": "string",
            "nullable": true
          },
          "integration_id": {
            "type": "integer",
            "nullable": true
          },
          "archived_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "is_vendor": {
            "type": "boolean"
          },
          "balance": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "CustomerCreateRequest": {
        "type": "object",
        "required": [
          "type",
          "name"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "Customer",
              "Company"
            ]
          },
          "name": {
            "type": "string",
            "minLength": 3
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "district": {
            "type": "string",
            "nullable": true
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "tc": {
            "type": "string",
            "nullable": true
          },
          "tax_number": {
            "type": "string",
            "nullable": true
          },
          "tax_office": {
            "type": "string",
            "nullable": true
          },
          "invoice_address": {
            "type": "string",
            "nullable": true
          },
          "postal_code": {
            "type": "string",
            "nullable": true
          },
          "is_vendor": {
            "type": "boolean"
          }
        }
      },
      "SubscriptionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "price": {
            "type": "number"
          },
          "channel": {
            "type": "string"
          },
          "promotion": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "renewal_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "is_expired": {
            "type": "boolean"
          },
          "renew_month": {
            "type": "integer"
          },
          "package_count": {
            "type": "integer"
          },
          "payment_method": {
            "type": "string"
          },
          "integration_count": {
            "type": "integer"
          }
        }
      },
      "SubscriptionCreateRequest": {
        "type": "object",
        "required": [
          "package_id",
          "renew_month"
        ],
        "properties": {
          "package_id": {
            "type": "integer"
          },
          "renew_month": {
            "type": "integer"
          },
          "promotion_code": {
            "type": "string",
            "nullable": true
          },
          "payment_method": {
            "type": "string",
            "nullable": true,
            "enum": [
              "credit-card",
              "partnership"
            ]
          },
          "card": {
            "type": "object",
            "nullable": true,
            "properties": {
              "number": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "year": {
                "type": "string"
              },
              "month": {
                "type": "string"
              },
              "cvc": {
                "type": "string"
              }
            }
          },
          "billing": {
            "type": "object",
            "nullable": true,
            "properties": {
              "type": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "address": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "district": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "tax_office": {
                "type": "string"
              },
              "tax_number": {
                "type": "string"
              },
              "postal_code": {
                "type": "string"
              }
            }
          }
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ]
          },
          "progress": {
            "type": "number"
          },
          "result": {
            "type": "object",
            "nullable": true
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "WarehouseResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "object",
            "nullable": true
          },
          "is_default": {
            "type": "boolean"
          },
          "accounting_id": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "AccountTransactionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "XmlResourceResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InvoiceResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "package_name": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "amount_readable": {
            "type": "string"
          },
          "accounting_id": {
            "type": "string",
            "nullable": true
          },
          "paid_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "e_invoice_status": {
            "type": "string",
            "nullable": true
          },
          "e_invoice_url": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string"
          },
          "note": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PackageResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "sort": {
            "type": "integer"
          },
          "price": {
            "type": "number"
          },
          "limit": {
            "type": "integer"
          },
          "country": {
            "type": "string"
          },
          "prices": {
            "type": "object"
          },
          "name_en": {
            "type": "string"
          },
          "name_tr": {
            "type": "string"
          },
          "unlimited": {
            "type": "boolean"
          },
          "marketplaces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1.0/company/{companyId}/product": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "List products",
        "description": "> **Required scope:** any API-App key\n\nReturns a paginated list of products using cursor pagination.",
        "operationId": "listProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Number of items per page"
          },
          {
            "name": "integration_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by integration ID"
          },
          {
            "name": "has_stock",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter products that have stock"
          },
          {
            "name": "has_image",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter products that have images"
          },
          {
            "name": "has_catalog_match",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter products that have catalog matches"
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search query string"
          },
          {
            "name": "product_category_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by product category ID"
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "main",
                "basic",
                "variant",
                "expense"
              ]
            },
            "description": "Filter by product type"
          },
          {
            "name": "is_active",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter by active status"
          },
          {
            "name": "deleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter deleted products"
          },
          {
            "name": "barcode",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by barcode"
          },
          {
            "name": "stock_code",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by stock code"
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by product name"
          },
          {
            "name": "accounting_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by accounting name"
          },
          {
            "name": "parent_product_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by parent product ID"
          },
          {
            "name": "accounting_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by accounting ID"
          },
          {
            "name": "quantity",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by quantity (supports operators, e.g. >=10, <=5)"
          },
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter by product UUID"
          },
          {
            "name": "price",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Filter by price (supports operators)"
          },
          {
            "name": "market_price",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "Filter by market price (supports operators)"
          },
          {
            "name": "fulfillment_id",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by fulfillment ID"
          },
          {
            "name": "tax_rate",
            "in": "query",
            "schema": {
              "type": "integer",
              "enum": [
                0,
                1,
                10,
                20
              ]
            },
            "description": "Filter by tax rate"
          },
          {
            "name": "shipment_name",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by shipment name"
          },
          {
            "name": "warehouse_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by warehouse ID"
          },
          {
            "name": "source_integration_id",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter by source integration ID"
          },
          {
            "name": "synced_with",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter products synced with this integration ID"
          },
          {
            "name": "not_synced_with",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter products NOT synced with this integration ID"
          },
          {
            "name": "on_sale",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter products on sale in this integration ID"
          },
          {
            "name": "off_sale",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Filter products off sale in this integration ID"
          },
          {
            "name": "ids",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated product UUIDs"
          },
          {
            "name": "is_expense",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter expense type products"
          },
          {
            "name": "different_quantity",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter products with quantity mismatch with integration"
          },
          {
            "name": "different_price",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter products with price mismatch with integration"
          },
          {
            "name": "is_archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter soft-deleted products"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field, prefix with - for desc (e.g. -created_at,name)"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated relations to include"
          },
          {
            "name": "with_trashed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include soft-deleted items"
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include archived items"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProductResponse"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "cursor": {
                          "type": "object",
                          "properties": {
                            "next": {
                              "type": "string",
                              "nullable": true
                            },
                            "prev": {
                              "type": "string",
                              "nullable": true
                            },
                            "count": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/company/{companyId}/product": {
      "post": {
        "tags": [
          "Product"
        ],
        "summary": "Create product",
        "description": "> **Required scope:** any API-App key\n\nCreate a new product.",
        "operationId": "createProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Product"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Bulk update products",
        "description": "> **Required scope:** any API-App key\n\nUpdates multiple products at once.",
        "operationId": "bulkUpdateProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Array of product UUIDs to update"
                  }
                },
                "required": [
                  "ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Products updated successfully"
          }
        }
      },
      "delete": {
        "tags": [
          "Product"
        ],
        "summary": "Bulk delete products",
        "description": "> **Required scope:** any API-App key\n\nDeletes multiple products at once.",
        "operationId": "bulkDeleteProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Array of product UUIDs to delete"
                  }
                },
                "required": [
                  "ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Products deleted successfully"
          }
        }
      }
    },
    "/v2.0/company/{companyId}/product/status": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Product status counts",
        "description": "> **Required scope:** any API-App key\n\nReturns counts of products grouped by status.",
        "operationId": "getProductStatusCounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Status counts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/company/{companyId}/product/restore": {
      "post": {
        "tags": [
          "Product"
        ],
        "summary": "Bulk restore products",
        "description": "> **Required scope:** any API-App key\n\nRestores multiple previously deleted products.",
        "operationId": "bulkRestoreProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "description": "Array of product UUIDs to restore"
                  }
                },
                "required": [
                  "ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Products restored successfully"
          }
        }
      }
    },
    "/v2.0/company/{companyId}/product/{productId}": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get product",
        "description": "> **Required scope:** any API-App key\n\nReturns a single product by ID.",
        "operationId": "getProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/productId"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated relations to include (e.g., category,images,integrationProducts)."
          }
        ],
        "responses": {
          "200": {
            "description": "Product details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductResponse"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Update product",
        "description": "> **Required scope:** any API-App key\n\nUpdates a single product.",
        "operationId": "updateProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/productId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "main",
                      "basic",
                      "variant",
                      "expense"
                    ]
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string",
                    "nullable": true
                  },
                  "tax_rate": {
                    "type": "number",
                    "nullable": true,
                    "enum": [
                      0,
                      1,
                      10,
                      20
                    ]
                  },
                  "is_active": {
                    "type": "boolean"
                  },
                  "product_category_id": {
                    "type": "integer",
                    "nullable": true
                  },
                  "fulfillment_id": {
                    "type": "string",
                    "nullable": true
                  },
                  "price": {
                    "type": "number"
                  },
                  "market_price": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "barcode": {
                    "type": "string"
                  },
                  "stock_code": {
                    "type": "string"
                  },
                  "weight": {
                    "type": "number"
                  },
                  "hs_code": {
                    "type": "string"
                  },
                  "shipment_name": {
                    "type": "string"
                  },
                  "variant": {
                    "type": "object",
                    "nullable": true
                  }
                },
                "required": [
                  "type",
                  "is_active"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Product updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ProductResponse"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2.0/company/{companyId}/product/{productId}/image": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Get product images",
        "description": "> **Required scope:** any API-App key\n\nReturns all images for a product.",
        "operationId": "getProductImages",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/productId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of product images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "sort": {
                            "type": "integer"
                          },
                          "integration_image_ids": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Update product images",
        "description": "> **Required scope:** any API-App key\n\nUpdates the images for a product.",
        "operationId": "updateProductImages",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/productId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "sort": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "url",
                        "sort"
                      ]
                    }
                  }
                },
                "required": [
                  "images"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Images updated successfully"
          }
        }
      }
    },
    "/v2.0/company/{companyId}/product/{productId}/stock": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "List stock events",
        "description": "> **Required scope:** any API-App key\n\nReturns a paginated list of stock events for a product.",
        "operationId": "listStockEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/productId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Number of items per page"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Sort field, prefix with - for desc (e.g. -created_at)"
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated relations to include"
          },
          {
            "name": "with_trashed",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include soft-deleted items"
          },
          {
            "name": "archived",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Include archived items"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of stock events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "quantity": {
                            "type": "integer"
                          },
                          "description": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Product"
        ],
        "summary": "Create stock event",
        "description": "> **Required scope:** any API-App key\n\nCreates a new stock event for a product. Prefix quantity with '=' for absolute value.",
        "operationId": "createStockEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/productId"
          }
        ],
        "requestBody": {
          "required": true,
[...]
